.input-form {
	display: flex;
	align-items: center;
}
input {
	background-color: #121212;
	color: #d1d1d1;
	border: 1px solid #303030;
	height: 1.75rem;
	font-size: 0.9rem;
	flex-basis: 34.5rem;
	border-radius: 2px 0 0 2px;
	padding: 2px 6px;
	min-width: 0;
}
.button-container {
	position: relative;
}
.search-button {
	background-color: #313131;
	border-radius: 0 2px 2px 0;
	height: 2.1rem;
	min-width: 4.06rem;
	border-inline: none;

	border-block: 1px solid #303030;
}
input:focus {
	border: 0.2px solid rgb(0, 89, 255);
	box-shadow: 0 0 10px #313131;
}
.search-label {
	padding: 0.4rem;
	color: #ffffff;
	background-color: #5a5a5ac9;
	border-radius: 2px;
	position: absolute;
	right: 7px;
	top: 38px;
	opacity: 0;
	transition: opacity 0.28s;
	font-size: 0.75rem;
	z-index: 2;
}
button:hover + p {
	opacity: 1;
}
